.container {
  display: flex;
}

.spinner {
  margin: 50% auto;
}

.spinner-text {
  font-size: 16px;
  font-family: monospace;
  text-transform: uppercase;
  animation: moving 2s infinite;
  animation: blinking 2s linear infinite;
}

.rect {
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  animation: blinking 2s linear infinite;
  animation: moving 2s infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}
