.container {
  display: flex;
}

.spinner {
  margin: 50% auto;
}

.spinner-text {
  font-size: 16px;
  font-family: monospace;
  text-transform: uppercase;
  animation: movi 1s infinite;
  animation: blink 1s linear infinite;
  
}

@keyframes blink{
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

  @keyframes movi {
    from {
      left: 0;
    }

    to {
      left: 100%;
    }
  }

.rect {
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  animation: blink 1s linear infinite;
  animation: movi 1s infinite;
}